<html>
    <head>
        <title>Todo List</title>
        <link href="/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="todo-table">

            <form method="POST" action="/todo">
                <input type="text" name="item" placeholder="Add new item..." required />
                <button id="submit" type="submit">Add Item</button>
            </form>

            <ul id="list-todo">
                <% todos.forEach(function(item) { %>
                    <li data-id="<%= item._id%>"><%= item.item %></li>
                <% }); %>
            </ul>
        </div>
        <script src="/jquery.min.js"></script>
        <script src="/todo-list.js"></script>
    </body>
</html>